/* DEFAULTS
----------------------------------------------------------*/
* 
{
    margin: 0px;
    padding: 0px;
}

html, body 
{
    height: 100%;
}


body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: Verdana;
    color: #696969;
}

form
{
    height: 100%;
}

a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;

}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 90%;
    background-color: #fff;
    margin: 0px auto 0px auto;
    height: 100%;
}

.main
{
    position:absolute;
    top: 65px;
    bottom: 3px;
    width:90%;
}

.header
{
    position: relative;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    width: 100%;
    height: 65px;
    background-image: url('../Figuras/linha01.PNG');
    background-repeat: repeat-x;
}

div.divLogo
{
    float: left;
    width: 90px;
    height: 60px;
    padding-top: 5px;
    position:absolute;
}

div.divTexto
{
    height: 35px;
}

img.logotipo 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.menu
{
    font-size: 10px;
    top: 38px;
    position: absolute;
    margin-left:90px;
}

div.menu ul
{
    list-style: none;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #666666;
    border: 1px solid #000000;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 10px;
    text-decoration: none;
    white-space: nowrap;
    text-align:center;
    width:65px;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
    white-space: nowrap;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 40%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    padding: 5px 0px 0px 0px;
    color: White;
    height: 45px;
    float:right;
    position:absolute;
    right:0
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.table100
{
    width: 100%;
}

/*---------------- FAREJADOR ---------------*/

.mainFarejador
{
    position:absolute;
    top: 35px;
    bottom: 3px;
    width:90%;
}

div.divFarejador
{ 
    width: 100%;
    height: 35px;
    background-color: #F8F8F8; 
}

.loginDisplayFarejador
{
    font-size: 1.1em;
    padding: 5px 0px 0px 0px;
    color: #555555;
    height: 10px;
    float:right;
    position:absolute;
    right:0
}

.loginDisplayFarejador a:link
{
    color: #555555;
}

.loginDisplayFarejador a:visited
{
    color: #555555;
}

.loginDisplayFarejador a:hover
{
    color: #555555;
}

div.menuFarejador
{
    font-size: 10px;
    top: 5px;
    position: absolute;
    margin-left:10px;
}

div.menuFarejador ul
{
    list-style: none;
    width: auto;
}

div.menuFarejador ul li a, div.menuFarejador ul li a:visited
{
    background-color: #E7E7E7;
    border: 1px solid #999999;
    color: #555555;
    display: block;
    line-height: 1.35em;
    padding: 4px 10px;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    width: 65px;
}

div.menuFarejador ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menuFarejador ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
