
html
{
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body
{
    height: 100%;
    font-family: Verdana;
    font-size: 62.5%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

form
{
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.page
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header 
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.main
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.fonte
{
    font-family: Tahoma;
    font-size: 10pt;
}

.fonte0
{
    font-family: Verdana;
    font-size: small;
}
        
.fonte1
{
    font-family: Verdana;
    font-weight: bold;
    font-size: small;
}

.failureNotification
{
    font-family: Verdana;
    font-size: small;
    color: Red;
}

.Grid
{
    font-size: small;
    font-family: Verdana;
}

a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}

a:active
{
    color: #034af3;
}

.table100
{
    width: 100%;
}
