<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="LocalMySqlServer" connectionString="Datasource=localhost;Database=auditoria;uid=ops;pwd=ops;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<location path="CarregaDados.aspx">
		<system.web>
			<authorization>
				<!--<deny users="*, ?"/>-->
			</authorization>
		</system.web>
	</location>
	<system.web>
    <compilation debug="true" targetFramework="4.0"/>
		<httpRuntime maxRequestLength="1024000" executionTimeout="360" maxQueryStringLength="9999"/>
		<globalization culture="pt-BR" uiCulture="pt-BR"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="43200" name="login.ops.net.br" cookieless="UseCookies" />
		</authentication>
		<customErrors mode="Off" defaultRedirect="~/Oops.aspx">
		</customErrors>
		<roleManager defaultProvider="MySqlRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="MySqlRoleProvider" type="AuditoriaParlamentar.MySqlRoleProvider" connectionStringName="LocalMySqlServer" applicationName="AuditoriaParlamentar" writeExceptionsToEventLog="false"/>
			</providers>
		</roleManager>
		<membership defaultProvider="MySqlMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="MySqlMembershipProvider" type="AuditoriaParlamentar.MySqlMembershipProvider" connectionStringName="LocalMySqlServer" applicationName="AuditoriaParlamentar" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" writeExceptionsToEventLog="false"/>
			</providers>
		</membership>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
